@{
    ViewData["Title"] = "CheckYourInbox";
}

<div class="text-center mt-5">
    <h1 class="display-4">Check Your Inbox</h1>
    <p class="lead">We’ve sent you an email with further instructions.</p>
    <p>
        Please Check Your Inbox! <a href="https://mail.google.com/mail/u/0/#inbox">Go To Your Inbox</a>
    </p>
</div>